html {
 	background-color: #0000ff;
 }

 body {
 	width: 75%;
	margin: 0 auto;
  margin-top: 2.5%;

	display: flex;
  height: auto;
	flex-direction: column;
	background-color: white;
 }

 h1 {
 	text-align: center;
 	font-family: monospace;
 	font-size: 65px;
 	margin: 50px;
 }

 .burgerAvailable {
 	font-family: monospace;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 10px;
 	padding: 10px;
 	background-color: green;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: yellow;
 }

 .burgerEaten {
 	font-family: monospace;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	margin: 10px;
 	padding: 10px;
 	background-color: #ffd1c9;
 }

 h2 {
  	text-align: center;
 	font-family: monospace;
 	font-size: 40px;
 	margin: 50px;
 }

 .formContainer {
 	background-color: orange;
 }

 .addBurgerButton {
 	font-family: monospace;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 0;
 	padding: 10px;
 	background-color: #0000ff;
 	border: none;
 }

.addBurgerButton:active {
	background-color: #0000ff;
}

.burgerFooter {
	background-color: #0000ff;
}
